@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;900&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
html {
  font-size: 10px;
  height: 95%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  overflow: auto;
}
body {
  min-height: 100%;
  background-color: #f4f4f4;
  color: rgb(52, 52, 52);
}
.flex {
  display: flex;
}
.hidden {
  display: none;
}
header {
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  margin-block-start: 1.5rem;
  justify-self: start;
  /* width: 100%; */
  text-align: center;
}
.header__welcome {
  font-size: 1.7rem;
}
.header__logo {
  text-transform: uppercase;
}
.header__login {
  display: flex;
  justify-content: end;
  /* width: 21%; */
  gap: 1rem;
}
.login__input {
  outline: none;
  border: none;
  padding: 1rem 1.5rem;
  /* width: 100%; */
  border-radius: 20px;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
}
::placeholder {
  color: rgb(178, 178, 178);
}
.inputs__login--btn {
  background-color: transparent;
  border: none;
  font-size: 2.2rem;
}
main {
  display: grid;
  place-items: center;
  margin: 0.5rem auto;
  max-width: 1000px;
  padding: 1rem;
  transition: all 1s;
  opacity: 0%;
}
.balance {
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.text-container__text {
  font-size: 2.3rem;
  margin: 0;
  font-weight: 500;
  text-align: start;
}
.text-container__date {
  font-size: 1.4rem;
  margin: 0;
  color: rgb(117, 117, 117);
}
.balance__current {
  font-size: 5rem;
  font-weight: 400;
  margin-block: 1rem;
}
.info {
  width: 100%;
  display: grid;
  gap: 2rem;
  grid-template-columns: 4fr 3fr;
  grid-template-rows: repeat(3, 15.5rem);
}
.info__transactions {
  grid-row: 1 / 4;
  background-color: white;
  overflow-y: auto;
  margin-block: 0rem 1rem;
  border-radius: 10px;
  min-width: 450px;
}
.movement__move {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  border-bottom: 1px solid rgb(236, 236, 236);
}
.move__label {
  padding: 0.16rem 1rem;
  border-radius: 10px;
  font-size: 1.1rem;
  color: white;
  text-transform: uppercase;
}
.move__label--in {
  background: rgb(167, 230, 90);
  background: linear-gradient(
    135deg,
    rgb(167, 230, 90) 0%,
    rgb(55, 158, 8) 100%
  );
}
.move__label--out {
  background: rgb(255, 136, 136);
  background: linear-gradient(
    135deg,
    rgb(255, 136, 136) 0%,
    rgb(207, 15, 15) 100%
  );
}
.move__date {
  font-size: 1.5rem;
}
.move__amount {
  margin-left: auto;
  font-size: 2rem;
}
.info__form {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  border-radius: 10px;
}
.info__form:last-of-type {
  margin-block-end: 1rem;
}
.info__form--transfer {
  background: rgb(153, 203, 92);
  background: linear-gradient(
    135deg,
    rgb(164, 215, 103) 0%,
    rgba(86, 171, 47, 1) 100%
  );
}
.info__form--loan {
  background: rgb(253, 200, 48);
  background: linear-gradient(
    135deg,
    rgba(253, 200, 48, 1) 0%,
    rgba(243, 115, 53, 1) 100%
  );
}

.info__form--close {
  background: rgb(54, 209, 220);
  background: linear-gradient(
    135deg,
    rgba(54, 209, 220, 1) 0%,
    rgba(91, 134, 229, 1) 100%
  );
}
.form__input-container {
  gap: 1.5rem;
}
.form__input-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form__input-container--loan {
  width: 100%;
  margin-inline-start: 10rem;
}
.input-group__text {
  font-size: 1.3rem;
  margin: 0.3rem;
  font-weight: 500;
}
.input-group__button {
  align-self: flex-start;
  margin: 0;
  border: none;
  font-size: 1.9rem;
  padding: 0.3rem 1.2rem;
  border-radius: 5px;
}
.form__title {
  text-align: center;
  font-size: 1.7rem;
  margin: 0;
  font-weight: 600;
}
.input-group__input {
  border: none;
  outline: none;
  opacity: 50%;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  border-radius: 5px;
}
.input-group__input:hover {
  opacity: 60%;
}
.input-group__input:focus {
  opacity: 80%;
}
input {
  width: 100px;
}
button {
  cursor: pointer;
}
.details {
  justify-content: space-between;
  align-items: center;
  padding-inline: 1rem;
  font-size: 1.3rem;
  width: 100%;
  margin-block-start: 1rem;
}
.details__sums {
  gap: 1rem;
}
.sums__num {
  font-size: 1.25rem;
  font-weight: 500;
  text-transform: uppercase;
}
.num__number {
  font-size: 2rem;
  font-weight: 400;
}
.num__number--interest,
.num__number--in {
  color: #18b714;
}
.num__number--out {
  color: #cb1616;
}
.details__sort {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  font-size: 1.4rem;
}
.details__sort:hover {
  opacity: 50%;
}
.details__sort:active {
  opacity: 100%;
  color: white;
}
.timer__time {
  font-weight: 600;
}
